.cardContainer {
    margin-left: 10px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.cardContainer a {
    text-decoration: none;
}

.card {
    display: flex;
    flex-flow: row;
    background-color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(56, 53, 53, 0.549);
    color: gray;
}

.imageContainer {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;utf8, %3Csvg width=%22100%25%22 height=%22100%25%22 viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22 %3E %3Cdefs%3E %3CradialGradient id=%22radialGradientId%22 r=%22100%25%22 cx=%2250%25%22 cy=%2250%25%22 %3E %3Cstop offset=%220%25%22 stop-color=%22%238EC5FC%22 %2F%3E %3Cstop offset=%22100%25%22 stop-color=%22%23E0C3FC%22 %2F%3E %3C%2FradialGradient%3E %3CclipPath id=%22shape%22%3E %3Cpath fill=%22currentColor%22 d=%22M866.5%2C647Q851%2C794%2C707%2C826Q563%2C858%2C466%2C792.5Q369%2C727%2C205.5%2C697Q42%2C667%2C123%2C529.5Q204%2C392%2C259.5%2C286Q315%2C180%2C439.5%2C159.5Q564%2C139%2C718.5%2C163Q873%2C187%2C877.5%2C343.5Q882%2C500%2C866.5%2C647Z%22%3E%3C%2Fpath%3E %3C%2FclipPath%3E %3C%2Fdefs%3E %3Cg clip-path=%22url(%23shape)%22%3E %3Cpath fill=%22url(%23radialGradientId)%22 d=%22M866.5%2C647Q851%2C794%2C707%2C826Q563%2C858%2C466%2C792.5Q369%2C727%2C205.5%2C697Q42%2C667%2C123%2C529.5Q204%2C392%2C259.5%2C286Q315%2C180%2C439.5%2C159.5Q564%2C139%2C718.5%2C163Q873%2C187%2C877.5%2C343.5Q882%2C500%2C866.5%2C647Z%22 %2F%3E %3C%2Fg%3E %3C%2Fsvg%3E");
}

.cardSummary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.pokemonName {
    font-size: large;
}

.pokemonName::first-letter {
    text-transform: uppercase;
}

.pokemonType {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.pokemonType div::first-letter {
    text-transform: uppercase;
}

.PokId {
    flex-grow: 1;
    align-self: center;
}

@media screen and (max-width: 992px) {
    .cardContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .cardContainer {
        grid-template-columns: repeat(1, 1fr);
    }
}